include CHANGELOG.md
include CITATION.cff
include LICENSE
include README.md

include tox.ini
recursive-include images *.png
recursive-include smo *.cff
recursive-include smo *.ipynb
recursive-include smo *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
